@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

GridPane{
    -fx-font-family: 'Oswald', sans-serif;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.3);
}
BorderPane{
    -fx-font-family: 'Oswald', sans-serif;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.3);
}

.searchField {
    -fx-font-family: 'Oswald', sans-serif;
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65%);
    -fx-background-blend-mode: multiply;
    -fx-border-color: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 65%);
    -fx-font-size: 22;

}

.label {
    -fx-font-family: 'Oswald', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 22;
}

#borderpane {
    -fx-background-image: url(/dk/easv/GUI/View/Backgrounds/rust.jpg)
}

.RatingText {
    -fx-font-family: 'Oswald', sans-serif;
    -fx-fill: WHITE;
    -fx-font-size: 24;
}

.TitleText {
    -fx-font-family: 'Oswald', sans-serif;
    -fx-fill: WHITE;
    -fx-font-size: 35;
}

.InfoText {
    -fx-font-family: 'Oswald', sans-serif;
    -fx-fill: WHITE;
    -fx-font-size: 12;
}

.DescriptionText {
    -fx-font-family: 'Oswald', sans-serif;
    -fx-fill: WHITE;
    -fx-font-size: 18;
}

.XButton {
    -fx-font-family: Inter;
    -fx-font-style: normal;
    -fx-font-size: 64;
    -fx-fill: WHITE;
}